/cmake-build-debug
/project1/*.dSYM
/project1/generation
/project1/explorer
/project1/profilic
/project1/slug
/project1/slugrace
/.vscode

/project2/*.dSYM
/project2/omnisportscomplex
/project2/flightsimulator
/.DS_Store
/.idea
